*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color:  #333;
  color: crimson;
  display: flex;

}
nav img{
  margin-left: 120px;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10%;
}
nav span{
  margin-top: 25px;
  font-size: 25px;
  color: white;
}

ul{
  list-style-type: none;
  /* display: flex; */
  font-size: 25px;
  margin-left: 650px;
  padding: 10px 4px;
  display: flex;
  gap: 20px;
}
li{
padding: 15px;
}

/*----------------------- BackImg------------- */
.backImg{
  width: 100%;
  height: 400px;
 
}
.backImg img{
  width: 100%;
  height: 500px;
  
}
.backImg input{
  width: 500px;
  height: 40px;
  font-size: 18px;
   border-radius: 4px;
  position: absolute;
  display: flex;
  top: 40%;
  left: 30%;
  padding: 10px;
  border: none;
}
.backImg button{
  display: flex;
  position: absolute;
  top: 40%;
  left: 62%;
  width: 80px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: crimson;
  color: white;
  border-radius: 4px;
  border: none;
}

/* Explor-Food */

.food{
  width: 300px;
  border: 1px solid white;
  color: rgb(5, 5, 5);
  margin-bottom: 100px;

  }
  .food h1{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 300px;
    top: 80%;
    left: 40%;
    margin: 20px;
  }
  .food-imges{
    width: 100%;
    /* border: 2px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

.explore-food{
position: relative;
display: inline-block;
margin: 10px;

}
.explore-food img{
  /* display: flex; */
  border-radius: 8px;
  width: 250px;
  height: 320px;
  transition: transform .4s;
  
}
.explore-food img:hover{
  transform: scale(1.2);
  cursor: pointer ;
}
.explore-food span{
  display: flex;
  position:  absolute;
  border: 2px solid;
  /* height: auto; */
  font-size: 20px;
  color: white;
  bottom: 10px;
  left: 40%;
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
 
}
/* ----------Food-Menu--------- */
.food-menu{
  width: 100%;
  height: 500px;
  background-color: #1234;
  text-align: center ;
  
  
}
.food-menu h1{
  font-size: 30px;
  padding: 40px;
}
.menu-img{
  width: 600px;
  height: 150px;
  
  display: flex;
 margin-left: 60px;
 background-color: #fff;
 border-radius: 8px;
 border: none;
}
.menu-img img{
  width: 140px;
  height: 150px;
  border-radius: 30px;
  padding: 20px;
}
.desc{
  width: 400px;
  padding: 20px;
  
}
.desc h2{
  float: left;

}
.desc h3{
  
  position: absolute;
  margin-top: 30px;
}
.desc p{
  position: absolute;
  margin-top: 50px;
}
.menu-img button{
  position: absolute;
  margin-top: 100px;
  margin-left: 160px;
  width: 100px;
  font-size: 16px;
  background-color: crimson;
  color: white;
  padding:  4px;
  border: none;
  border-radius: 3px;
}